<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Chain Breaker AutoML</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>

<body>
  <div style="border:1px solid rgba(0,0,0,.2); padding: 20px; border-radius: 25px;">
    <h1>Chain Breaker Machine Learning Service</h1>
    <h2><a target="_blank" href="https://www.linkedin.com/in/juan-e-cepeda-gestion/"><u>By Juan Esteban Cepeda</u></a>
    </h2>
    <p>Model has been retrained sucessfully.</p>
    <p>Please go to the model repository and follow the instructions before running the model.</p>
    <p>
      Link to:
      <a href="https://github.com/ChainBreakerCommunity/chainbreaker_mlservice" target="_blank">Model Repository</a>.
    </p>
  </div>

  <!--
  <div style="border:1px solid rgba(0,0,0,.2); padding: 20px; border-radius: 25px;">
    <h3>Model</h3>
    <form action="/calculate" target="_blank" method="POST">

      <textarea cols="50" rows="20" name="text">We have over 30 exotic dancers for parties and eventsedmonton ...... exotic dancers.... calgary ...night clubs.. banff/ canmore call .....vancouver . ..after partieswhistler ......limo partiesangel eyez websitesalbertastrippersangeleyez.comedmontonbachelorparties.comangeleyezstripclub.combritishcolumbiastrippersangeleyez.comvancouverstagparties.comkelownabachelorparties.comwhistlerstagparties.comvancouver.whistler kamloops .kelowna .vernon .whistler sicamous sun peaks salmon arm .fernie.calgary canmore banff edmonton jasper give us a call or book your party online one of the girls will call you shortlythanks"
      </textarea>
      <br>
      <input type="submit" value="Calculate" style="background-color: #37517e; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;">
    </form>
  </div>
  -->
</body>

</html>